* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Ubuntu;
}
@font-face {
  font-family: Inter;
  src: url(./Assets/Fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: Ubuntu;
  src: url(./Assets/Fonts/Ubuntu-Regular.ttf);
}
body {
  background-color: #C0C0C0;
}